<% page_list = [
    (url_for('templates_renderer', template_name='presence_weekday'), 'presence by weekday'),
    (url_for('templates_renderer',
    template_name='mean_time_weekdays'), 'presence mean time'),
    (url_for('templates_renderer',
    template_name='presence_start_end'), 'presence start end'),   
] %>

<!doctype html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <title>Presence analyzer</title>
    <meta name="keywords" content="" />
    <meta name="description" content=""/>
    <meta name="author" content="STX Next sp. z o.o."/>
    <meta name="viewport" content="width=device-width; initial-scale=1.0">    
    <link href="${url_for('static', filename='css/normalize.css')}" media="all" rel="stylesheet" type="text/css" />
    <link href="${url_for('static', filename='css/style.css')}" media="all" rel="stylesheet" type="text/css" />

    <script src="${url_for('static', filename='js/jquery.min.js')}"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    
</head>
    <%block name="content"/>
<body>
    <div id="main">
        <div id="header">
            <h1>Presence analyzer</h1>
            <ul>
                % for href, caption in page_list:
                <li
                    % if caption == self.attr.active:
                        id="selected"
                    % endif
                    ><a href="${href}"> ${caption} </a>
                </li>
                % endfor
            </ul>
        </div>
        <div id="content">
            <h2>
                <%block name="title"/>
            </h2>
            <p>
                <select id="user_id" style="display: none">
                    <option value="">--</option>
                </select>
                <div id ="image" style="display:none">
                    <img src=""/>
                <div id="chart_div" style="display: none">
                </div>
                <div id="loading">
                    <img src="${url_for('static', filename='img/loading.gif')}"/>
                </div>
            </p>
        </div>
    </div>
</body>
</html>
